body {
  background-image: url("background.jpg");
}
/* Font Setup */

@font-face {
    font-family: 'Comic Sans';
    src: url('baldi.tff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic sans';
    src: url('https://fonts.cdnfonts.com/css/comic-sans') format('tff'),
        url('https://fonts.cdnfonts.com/css/comic-sans') format('truetype'),
        url('https://fonts.cdnfonts.com/css/comic-sans') format('tff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Apply Fonts */

h1, h2, h3, h4, h5, h6, p, marquee, a .black {
  font-family: 'Comic Sans';
  color: blue;
}

h1, h2, h3, h4, h5, h6, p,marquee, a .white {
  font-family: 'Comic Sans';
  color: blue;
}

/* Default Fonts */

h1, h2, h3, h4, h5, h6, p, marqee, a {
  font-family: 'Comic Sans';
  color: blue;
}